.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
div, img{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: gray;
    opacity: 0;
    transition: opacity 2s;
}

div:hover, img:hover{
    opacity: 1;
}
